@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}
html{
    scroll-behavior: smooth;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30 px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;

}
.navbar.sticky{
    padding: 15px 0;
    background: darkkhaki;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: teal;
    transition: all 0.3s ease;

}
.navbar.sticky .logo a span{
    color: #fff;
    
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
} 
.navbar .menu li a{
    display: block;
    color: teal;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
    
}

 .menu-btn{
     color: #fff;
     font-size: 23px;
     cursor: pointer;
     display: none;
 }
 .scroll-up-btn{
     position: fixed;
     height: 45px;
     width: 42px;
     background: darkcyan;
     right: 30px;
     bottom: 10px;
     text-align: center;
     line-height: 45px;
     color: #fff;
     z-index: 9999;
     font-size: 30px;
     border-radius: 6px;
     cursor: pointer;
     opacity: 0;
     pointer-events: none;
     transition: all 0.3s ease;
 }
 .scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
 }

.home{
    display: flex;
    background: url(img/banner.png) no-repeat center;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;

}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px; 
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}
.home .home-content .text-3{
    font-size: 40px;
    margin:  5px 0;
}
.home .home-content .text-3 span{
    color: darkslategray;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: green;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
    
}
.right-col{
    float: right;
    margin-right: -80%;
    margin-top: -80px;
    display: flex;
    align-items: center;

}
.right-col p {
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;   
}
#icon{
    width: 80px;
    cursor: pointer;
}
section{
    padding: 100px 0;
}
.about .services, .skills, .gallery, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;

}
section .title:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title:after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}



.about .services, .skills{
    font-family: 'Poppins', sans-serif;
}

.about .title:after {
    content: "Ben Kimim?";
    color: firebrick;
}

.about .about-content .left{
    width: 45%;

}

.about .about-content .left img{ 

    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}
.about .about-content .right .text span{
    color: darkslategray;
}
.about .about-content .right p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;


}
.about .about-content .right a{
    display: inline-block;
    background: darkcyan;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid darkkhaki;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;

}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.services, .gallery{
    color: white;
    background: #111;

}
.services .title::before,
.gallery .title::before{
    background: white;
}
.services .title::after,
.gallery .title::after{
    
    background: #111;
    content: "Servisler";
    color: cyan;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #2222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.services .serv-content .card:hover{
    background: darkcyan;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 40px;
    color: darkseagreen;
}
.services .serv-content .card:hover i {
    color: #fff;
    transition: color 0.3s ease;

}
.services .serv-content .card .text{
    font-size: 20px ;
    font-weight: 500;
    margin: 10px  0 7px 0;
}
.skills .title::after{
    content: "Yetenekler";
    color: green;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .column{
    width: calc(50%,- 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;

}
.skills .skills-content .left a{
    display: inline-block;
    background: green;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid orange;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: darkorange;
}
.skills-content .right .html::before{
    width: 90%;

}
.skills-content .right .css::before{
    width: 60%;
    
}

.skills-content .right .js::before{
    width: 20%;
    
}

.skills-content .right .java::before{
    width: 30%;
    
}

.skills-content .right .csharp::before{
    width: 40%;
    
}
.diller{
    background: url(img/arkaplan.png);
    background-size: cover;
}
.diller .title::after{
    content: "Yabancı Diller";
    background: grey;
    color: white;
}
.diller .language .language-right .bars-1{
    margin-bottom: 15px;
}
.diller .language-right .info-1{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.diller .language-right span{
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.diller .language-right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.diller .language-right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.language .language-right .bosnian::before{
    width: 90%;
}
.language .language-right .turkish::before{
    width: 100%;
}
.language .language-right .spanish::before{
    width: 20%;
}
.language .language-right .german::before{
    width: 30%;
}
.language .language-right .italian::before{
    width: 40%;
}
.gallery  .title::after{
    content: "Galeri";
    color: cyan;

}
.gallery .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;

}
.gallery .carousel .card:hover{
    background: orange;
}
.gallery .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.gallery .carousel .card:hover .box{
    transform: scale(1.05);
}
.gallery .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.gallery .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid cyan;
    transition: all 0.3s ease;    

}
.gallery .carousel .card:hover .img{
    border-color: #fff;

}
.owl-dots{
    text-align: center;
    margin-top: 20px;

}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid cyan!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: cyan!important;

}
.contact .title::after{
    content: "İletişim";
    color: darkcyan;
}
.contact .contact-content .column{
    width: calc(50% - 30px);

}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0 ;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: darkcyan;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 0px;
    color: aqua;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid darkblue;
    background: darkcyan;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

.services, .social-media{
    color: white;
    background: #111;

}
.social-media .title::before{
    background: white;
}
.social-media .title::after{
    content: "Sosyal Medya";
    background: #111;
    color: cyan;
}
.social-icons{
    text-align: center;
}
.social-icons img{
    width: 100px;
    transition: 0.5s;
    

}
.social-icons a:hover img{
    transform: translateY(-10px);
    
}
.social-text p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 8%;
    font-size: 20px;
    
}
.social-text p span{
    width: 60px;
    color: cyan;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


@media (max-width: 1300px ){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px ){
    .about .about-content .left img{ 

        height: 350px;
        width: 350px;
 
    }
}
@media (max-width: 991px ){
    .max-width{
        padding: 0 50px;
        
    }
}
@media (max-width: 960px ){
    
    .max-width{
        padding: 0 50px;
        
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu .btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:#fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3 ease;
    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0 ;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;

    
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    
    }
    .max-width{
        max-width: 800px;

    }
    .about .about-content .column{
         width: 100%;

    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

   }
   .about .about-content .right {
        flex: 100%;
   }
   .services .serv-content .card{
    width: calc(50% - 10px);
    margin-bottom: 40px;
}

    .skills .skills-content .column,
    .contact .contact-content .column{
      width: 100%;  
      margin-bottom: 35px;

    } 
}
@media (max-width: 690px ){
    .max-width{
        padding: 0 23px;
        
    }

   .home .home-content .text-2{
        font-size: 60px;

    
    }
    .home .home-content .text-3{
        font-size: 32px;
    
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%
    }
}

@media (max-width: 500px ){
   .home .home-content .text-2{
        font-size: 60px;

    
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}

